{
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", { "trailingComma": "es5", "semi": false }],
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
  },
  "plugins": [
    "prettier",
    "react",
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/react",
  ],
  "globals": {
    "document": true,
  },
}
